[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glew"]
	path = glew
	url = https://github.com/nigels-com/glew.git
	ignore = dirty
[submodule "glu"]
	path = glu
	url = https://gitlab.freedesktop.org/mesa/glu.git
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
[submodule "imgui"]
	path = imgui
	url = git@github.com:ocornut/imgui.git
	ignore = dirty
[submodule "assimp"]
	path = assimp
	url = git@github.com:assimp/assimp.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
