[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glew"]
	path = glew
	url = https://github.com/nigels-com/glew.git
	ignore = dirty
[submodule "glu"]
	path = glu
	url = https://gitlab.freedesktop.org/mesa/glu.git
[submodule "libglvnd"]
	path = libglvnd
	url = https://gitlab.freedesktop.org/glvnd/libglvnd.git
	ignore = dirty
[submodule "glm"]
	path = glm
	url = git@github.com:g-truc/glm.git
